@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: bold;
}

.weightButton {
  background-color: transparent;
  transition: all 0.5s ease-out;
}

.weightButton:hover {
  color: black;
  background-color: bisque;
}

/* navbar styling */
.navbar {
  @apply bg-white border-black border-8 fixed top-0 w-full z-50;
}

.nav-items-responsive {
  @apply flex justify-between items-center py-7;
}

.hidden-navbar {
  @apply p-10 h-full w-60 border-8 bg-white border-black z-[100] text-black top-0 left-0 fixed;
}

.title-responsive {
  @apply flex justify-center items-center;
}

/* home grid styling */
.image-grid {
  @apply grid grid-flow-row grid-rows-3;
}

.image-grid {
  @apply grid grid-flow-row grid-rows-3;
}

.home-grid {
  @apply grid grid-cols-2;
}

.text-grid {
  @apply grid grid-cols-2 mt-5 m-5;
}

.hero-text {
  @apply text-6xl font-bold;
}

.hero-text-2 {
  @apply text-3xl font-bold;
}

.contact-grid {
  @apply grid grid-cols-2 m-10;
}

.send-button {
  @apply font-extralight  mt-5 border border-white p-2 rounded-lg;
}

.send-button:active {
  @apply bg-white text-black;
}

.weight-training-page {
  @apply grid grid-cols-2;
}

.weight-training-form {
  @apply mx-auto grid grid-cols-5 gap-2 mt-20;
}

.weight-training-result {
  @apply grid grid-cols-3;
}

.result-img {
  @apply h-64 m-auto;
}

.button-grid {
  @apply col-span-full grid grid-cols-5 gap-3;
}

.program-form {
  @apply mx-auto grid grid-cols-2 gap-2 mt-20 h-96 w-[80%];
}

.program-responsive-img {
  @apply h-80;
}

.pdf-view {
  @apply border border-black rounded-lg mb-2 m-auto bg-black w-[80%];
}

.gym-essential-first {
  @apply flex justify-around m-10;
}

.answer-grid {
  @apply mt-10 grid grid-cols-2 gap-5 m-10;
}
.list {
  @apply grid grid-cols-2 gap-20;
}
.search-list {
  @apply grid grid-cols-2;
}

.search-text {
  @apply p-5 text-[6rem] text-slate-300 m-10;
}
.search-img {
  @apply h-60;
}

.search-result {
  @apply grid grid-cols-3;
}

/* Styles for medium screens (481px to 768px) */
@media (min-width: 481px) and (max-width: 800px) {
  /* CSS rules for medium screens */

  .ul-responsive {
    @apply pointer-events-none h-0 opacity-0;
  }
  .nav-items-responsive {
    @apply w-0;
  }
  .hamburger-icon {
    @apply opacity-100 ml-10 cursor-pointer;
  }
  .title-responsive {
    @apply gap-40 m-[-1rem];
  }

  .home-grid {
    @apply flex flex-col;
  }

  .image-grid {
    @apply h-full p-7 mx-5;
  }

  .hero-text {
    @apply text-4xl font-bold;
  }

  .contact-grid {
    @apply flex flex-col-reverse;
  }

  .weight-training-page {
    @apply flex flex-col;
  }

  .responsive-img {
    @apply w-72 m-auto;
  }
  .weight-training-form {
    @apply m-auto flex flex-col w-3/4;
  }

  .weight-training-result {
    @apply grid grid-cols-2 m-5;
  }
  .result-img {
    @apply h-52;
  }

  .button-grid {
    @apply col-span-full grid grid-cols-4 gap-2;
  }
  .program-form {
    @apply mx-auto grid grid-cols-2 gap-2 mt-10 w-3/4 mb-10;
  }

  .pdf-view {
    @apply border border-black rounded-lg mb-2 m-auto bg-black w-[80%] mt-5;
  }

  .gym-essential-first {
    @apply grid justify-around m-10;
  }
  .search-text {
    @apply p-5 text-[3rem] text-slate-300 m-10 text-center;
  }
  .search-img {
    @apply h-60;
  }
  .search-result {
    @apply grid grid-cols-2;
  }
}
/* Styles for small screens (up to 480px) */
@media (max-width: 480px) {
  /* CSS rules for small screens */
  .ul-responsive {
    @apply pointer-events-none h-0 opacity-0;
  }

  .hamburger-icon {
    @apply opacity-100 cursor-pointer;
  }
  .nav-items-responsive {
    @apply w-0 pointer-events-auto z-10;
  }
  .hamburger-icon {
    @apply opacity-100 ml-4;
  }
  .title-responsive {
    @apply gap-0  m-[-1rem] ml-1;
  }

  .image-grid {
    @apply h-0 opacity-0 z-[-1];
  }
  .home-grid {
    @apply flex flex-col mt-[-5rem];
  }
  .text-grid {
    @apply flex flex-col text-sm;
  }

  .hero-text {
    @apply text-3xl font-bold;
  }

  .hero-text-2 {
    @apply text-xl font-bold;
  }

  .hero-title-2 {
    @apply text-sm font-light m-5;
  }

  .contact-grid {
    @apply flex flex-col-reverse;
  }

  .weight-training-page {
    @apply flex flex-col;
  }

  .responsive-img {
    @apply w-52 m-auto;
  }
  .weight-training-form {
    @apply m-auto flex flex-col w-4/6;
  }
  .weight-training-result {
    @apply grid grid-cols-1 m-2;
  }
  .result-img {
    @apply h-36;
  }
  .button-grid {
    @apply col-span-full grid grid-cols-2 gap-3;
  }

  .pdf-view {
    @apply border border-black rounded-lg mb-2 m-auto bg-black w-[90%] mt-10;
  }

  .gym-essential-first {
    @apply grid justify-around m-10;
  }

  .answer-grid {
    @apply mt-10 grid grid-cols-1 gap-5 m-2;
  }
  .list {
    @apply grid grid-cols-1 gap-10 m-auto;
  }
  .search-list {
    @apply flex flex-col;
  }
  .search-text {
    @apply p-5 text-[3rem] text-slate-300 m-10;
  }
  .search-img {
    @apply h-40;
  }
  .search-result {
    @apply grid grid-cols-1;
  }
}
